.element__like {
  background: url(../../../images/element__like.svg);
  width: 22px;
  height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 25px 19px 32px 0;
}

.element__like:hover {
  opacity: 0.8;
}