.profile__add-button {
  background: url(../../../images/profile__Add-Button.png);
  width: 150px;
  height: 50px;
  margin: auto;
  margin-right: 0;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    background: url(../../../images/profile__add_button_320.png);
    margin: auto;
    width: 282px;
  }
}