.popup__save-button {
  background-color: black;
  border: none;
  cursor: pointer;
  width: 358px;
  height: 50px;
  margin: 48px auto 37px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 45px auto 25px;
  }
}