.popup__save-button {
  background-color: black;
  border: none;
  cursor: pointer;
  width: 358px;
  margin: 48px auto 37px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-color: white;
  border-radius: 2px;
  padding: 16px 0;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 45px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}