.profile__bio {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 10px 0;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: bio;
}

@media screen and (max-width: 900px) {
  .profile__bio {
    margin: 8px 0 32px 6px;
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
    text-align: center;
  }
}